In [27]:
import pandas as pd
from datetime import date

In [21]:
#a function to convert dates from the string format to the datetime to make date calculations simpler 
def conv_date(dt):
    year = int(dt[:4])
    month = int(dt[5:7])
    day = int(dt[8:])
    return date(year,month,day)

In [24]:
#a function that calculates the day differnce between two dates
def daydelta(dt1,dt2):
    x = conv_date(dt1)
    y = conv_date(dt2)
    delta = x - y
    return delta.days

In [58]:
#Given values
#test_set: Each sub-list in the main list represents a user. 
#The dates in the sub-lists are the days on which the given users have sent at least one free_tree.
#The task is to create a table (dataframe) where the first column would be the cohort, the second - number of days since
#the cohort date, the third - the number of users that sent a free_tree on the given date.
test_set = [['2017-06-01', '2017-06-02'],
            ['2017-06-01', '2017-06-02'],
            ['2017-06-01'],
            ['2017-06-01', '2017-06-02', '2017-06-03'],
            ['2017-06-01', '2017-06-02', '2017-06-03', '2017-06-04']]
cohort = '2017-06-01'
date_list = ['2017-06-01', '2017-06-02', '2017-06-03', '2017-06-04']

In [59]:
count=0
cohort_sum = pd.DataFrame(columns=['cohort','difference','number_of_users']) #creating the dataframe
for i in range(0,len(date_list)):
    for j in range(0,len(test_set)):
        if (date_list[i] in test_set[j]) and (test_set[j][0]==cohort):
            count+=1
    cohort_sum.at[i,'cohort']=cohort
    cohort_sum.at[i,'difference']=daydelta(date_list[i],cohort)
    cohort_sum.at[i,'number_of_users']=count
    count=0

In [60]:
cohort_sum

       cohort difference number_of_users
0  2017-06-01          0               5
1  2017-06-01          1               4
2  2017-06-01          2               2
3  2017-06-01          3               1